@charset "UTF-8";

/*
    Paleta de cores
    Verde #49a09d
    Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

    transition: width 0.3s, height 0.3s; /* Animação para transição de tamanhos */
    transition-timing-function: ease; 
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/pattern-building.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block; 
    padding: 25px 35px;
    box-sizing: border-box;
}

/* Talvez apagar essas duas configurações */

div#formulario > h1 {
    margin-bottom: 15px; /* Espaço abaixo do título Login */
}

div#formulario > p {
    margin-bottom: 20px; /* Espaço abaixo do texto de boas-vindas */
}

div#formulario > a {
    display: block;      /* Faz o link respeitar o padding e margens corretamente */
    margin-top: 15px;
    width: fit-content;  /* A área clicável fica restrita ao texto */
    color: #5f2c82;
    font-weight: bold;
    text-decoration: none;
}

div#formulario > a:hover {
    text-decoration: underline;
}
