@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Work Sans', Arial, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: lightgoldenrodyellow url(../imagens/praia.jpg) center center / cover no-repeat fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightcyan;
    max-width: 800px;
    margin: 15px auto 25px auto;
    padding: 10px;
    border-radius: 5px;
    border-style: groove;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.212);
    text-align: center;
    font-size: 1.3em;
}

header > h1 {
    margin: 10px 0;
}

header a {
    color: blue;
}

nav {
    background-color: lightcyan;
    font-weight: bold;
    max-width: 800px;
    margin: 15px auto 25px auto;
    padding: 10px;
    border-radius: 5px;
    border-style: groove;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.212);
    text-align: center;
    font-size: 1.3em;
}

nav br {
    margin: 5px;
}

main {
    background-color: white;
    max-width: 800px;
    margin: 0 auto 30px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.342);
    line-height: 1.8rem;
}

main  h1 {
    line-height: 3rem;
}

section {
    margin-top: -15px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: rgba(89, 182, 224, 0.9);
}


.html_css {
    padding: 8px;
    text-align: center;
    background-color: #b8870b7a;
    border-radius: 5px;
    border-style: groove;
    font-size: 2rem;
}

.html_css_link a:hover {
    text-decoration: underline;
    color: darkgoldenrod;
}


.js {
    padding: 8px;
    text-align: center;
    background-color: rgba(45, 62, 192, 0.479);
    border-radius: 5px;
    border-style: groove;
    font-size: 2rem;
}

.jslink a:hover {
    text-decoration: underline;
    color: rgba(44, 58, 158, 0.9);  
}


#scrollTopBtn {
    position: fixed;
    right: 1rem;
    bottom: 1.5rem;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: linear-gradient(135deg, #b8870b7a, #0b9bd6);
    color: #fff;
    border: none;
    display: grid;
    place-items: center;
    box-shadow: 0 6px 14px rgba(11,116,222,0.25);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity .25s ease, transform .25s ease;
    cursor: pointer;
    z-index: 9999;
}

#scrollTopBtn svg { 
    width: 20px; height: 20px; 

}
#scrollTopBtn.visible {
     opacity: 1; transform: translateY(0);
}
#scrollTopBtn:focus { 
    outline: 2px solid rgba(255,255,255,0.2); outline-offset: 2px; 
}






