@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Work Sans', Arial, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    background: lightgoldenrodyellow url(../imagens/praia.jpg) center center / cover no-repeat fixed;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: lightcyan;
    max-width: 800px;
    margin: 15px auto 25px auto;
    padding: 10px;
    border-radius: 5px;
    border-style: groove;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.212);
    text-align: center;
    font-size: 1.3em;
}

header > h1 {
    margin: 10px 0;
}

nav {
    background-color: lightcyan;
    max-width: 800px;
    margin: 15px auto 25px auto;
    padding: 10px;
    border-radius: 5px;
    border-style: groove;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.212);
    text-align: center;
    font-size: 1.3em;
}

main {
    background-color: white;
    max-width: 800px;
    margin: 0 auto 30px auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.342);
    line-height: 1.8rem;
}

main  h1 {
    line-height: 3rem;
}

section {
    margin-top: -15px;
}

article > h1 {
    padding: 8px;
    text-align: center;
    background-color: rgba(184, 135, 11, 0.479);
    border-radius: 5px;
    border-style: groove;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
    color: darkgoldenrod;
}
