@charset "UTF-8";

* {
    height: 100%;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to right, #F0C66E, #F09E6E);
}

main {
    height: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6b6b6b88;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F09F6C;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.575);
}

h2 {
    color: #009AB7;
}

p {
    text-align: justify;
}

hr {
    height: auto;
}